
# Evaluate the GDP Dataset

#### 1: View and add the dataset

In [1]:
#Import required library
import numpy as np

In [18]:
#Manually add the dataset
countriesGDP=np.array([['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'
],[2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]])
countriesGDP

array([['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria',
        'Bahamas', 'Bangladesh', 'Belarus', 'Belgium', 'Bhutan',
        'Brazil', 'Bulgaria', 'Cambodia', 'Cameroon', 'Chile', 'China',
        'Colombia', 'Cyprus', 'Denmark', 'El Salvador', 'Estonia',
        'Ethiopia', 'Fiji', 'Finland', 'France', 'Georgia', 'Ghana',
        'Grenada', 'Guinea', 'Haiti', 'Honduras', 'Hungary', 'India',
        'Indonesia', 'Ireland', 'Italy', 'Japan', 'Kenya', 'South Korea',
        'Liberia', 'Malaysia', 'Mexico', 'Morocco', 'Nepal',
        'New Zealand', 'Norway', 'Pakistan', 'Peru', 'Qatar', 'Russia',
        'Singapore', 'South Africa', 'Spain', 'Sweden', 'Switzerland',
        'Thailand', 'United Arab Emirates', 'United Kingdom',
        'United States', 'Uruguay', 'Venezuela', 'Vietnam', 'Zimbabwe'],
       ['2255.225482', '629.9553062', '11601.63022', '25306.82494',
        '27266.40335', '19466.99052', '588.3691778', '2890.345675',
        '24733.62696', '1445.760002', '4803.398244', '2618.876037',
        '590.4521124', '665.7982328', '7122.938458', '2639.54156',
        '3362.4656', '15378.16704', '30860.12808', '2579.115607',
        '6525.541272', '229.6769525', '2242.689259', '27570.4852',
        '23016.84778', '1334.646773', '402.6953275', '6047.200797',
        '394.1156638', '385.5793827', '1414.072488', '5745.981529',
        '837.7464011', '1206.991065', '27715.52837', '18937.24998',
        '39578.07441', '478.2194906', '16684.21278', '279.2204061',
        '5345.213415', '6288.25324', '1908.304416', '274.8728621',
        '14646.42094', '40034.85063', '672.1547506', '3359.517402',
        '36152.66676', '3054.727742', '33529.83052', '3825.093781',
        '15428.32098', '33630.24604', '39170.41371', '2699.123242',
        '21058.43643', '28272.40661', '37691.02733', '9581.05659',
        '5671.912202', '757.4009286', '347.7456605']], dtype='<U32')

In [7]:
GDP= np.array([ 2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])
GDP

array([ 2255.225482 ,   629.9553062, 11601.63022  , 25306.82494  ,
       27266.40335  , 19466.99052  ,   588.3691778,  2890.345675 ,
       24733.62696  ,  1445.760002 ,  4803.398244 ,  2618.876037 ,
         590.4521124,   665.7982328,  7122.938458 ,  2639.54156  ,
        3362.4656   , 15378.16704  , 30860.12808  ,  2579.115607 ,
        6525.541272 ,   229.6769525,  2242.689259 , 27570.4852   ,
       23016.84778  ,  1334.646773 ,   402.6953275,  6047.200797 ,
         394.1156638,   385.5793827,  1414.072488 ,  5745.981529 ,
         837.7464011,  1206.991065 , 27715.52837  , 18937.24998  ,
       39578.07441  ,   478.2194906, 16684.21278  ,   279.2204061,
        5345.213415 ,  6288.25324  ,  1908.304416 ,   274.8728621,
       14646.42094  , 40034.85063  ,   672.1547506,  3359.517402 ,
       36152.66676  ,  3054.727742 , 33529.83052  ,  3825.093781 ,
       15428.32098  , 33630.24604  , 39170.41371  ,  2699.123242 ,
       21058.43643  , 28272.40661  , 37691.02733  ,  9581.05659  ,
        5671.912202 ,   757.4009286,   347.7456605])

In [17]:
countries=np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'
])
countries

array(['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria',
       'Bahamas', 'Bangladesh', 'Belarus', 'Belgium', 'Bhutan', 'Brazil',
       'Bulgaria', 'Cambodia', 'Cameroon', 'Chile', 'China', 'Colombia',
       'Cyprus', 'Denmark', 'El Salvador', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Georgia', 'Ghana', 'Grenada', 'Guinea',
       'Haiti', 'Honduras', 'Hungary', 'India', 'Indonesia', 'Ireland',
       'Italy', 'Japan', 'Kenya', 'South Korea', 'Liberia', 'Malaysia',
       'Mexico', 'Morocco', 'Nepal', 'New Zealand', 'Norway', 'Pakistan',
       'Peru', 'Qatar', 'Russia', 'Singapore', 'South Africa', 'Spain',
       'Sweden', 'Switzerland', 'Thailand', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Venezuela',
       'Vietnam', 'Zimbabwe'], dtype='<U20')

#### 2: Find and print the name of the country with the highest GDP

In [25]:
#Use the argmax() method to find the highest GDP
GDP[np.argmax(GDP)]

40034.85063

In [12]:
#Print the name of the country
countries[GDP.argmax()]

#### 3: Find and print the name of the country with the lowest GDP

In [26]:
#Use the argmin() method to find the lowest GDP
GDP[np.argmin(GDP)]

229.6769525

In [27]:
#Print the name of the country
countries[GDP.argmin()]

'Ethiopia'

#### 4: Print out text ('evaluating country') and input value ('country name') iteratively

In [37]:
#Use a for loop to print the required output
for i in countries:
    print("Evaluating Country {}".format(i))

Evaluating Country Algeria
Evaluating Country Angola
Evaluating Country Argentina
Evaluating Country Australia
Evaluating Country Austria
Evaluating Country Bahamas
Evaluating Country Bangladesh
Evaluating Country Belarus
Evaluating Country Belgium
Evaluating Country Bhutan
Evaluating Country Brazil
Evaluating Country Bulgaria
Evaluating Country Cambodia
Evaluating Country Cameroon
Evaluating Country Chile
Evaluating Country China
Evaluating Country Colombia
Evaluating Country Cyprus
Evaluating Country Denmark
Evaluating Country El Salvador
Evaluating Country Estonia
Evaluating Country Ethiopia
Evaluating Country Fiji
Evaluating Country Finland
Evaluating Country France
Evaluating Country Georgia
Evaluating Country Ghana
Evaluating Country Grenada
Evaluating Country Guinea
Evaluating Country Haiti
Evaluating Country Honduras
Evaluating Country Hungary
Evaluating Country India
Evaluating Country Indonesia
Evaluating Country Ireland
Evaluating Country Italy
Evaluating Country Japan
Evaluating Country Kenya
Evaluating Country South Korea
Evaluating Country Liberia
Evaluating Country Malaysia
Evaluating Country Mexico
Evaluating Country Morocco
Evaluating Country Nepal
Evaluating Country New Zealand
Evaluating Country Norway
Evaluating Country Pakistan
Evaluating Country Peru
Evaluating Country Qatar
Evaluating Country Russia
Evaluating Country Singapore
Evaluating Country South Africa
Evaluating Country Spain
Evaluating Country Sweden
Evaluating Country Switzerland
Evaluating Country Thailand
Evaluating Country United Arab Emirates
Evaluating Country United Kingdom
Evaluating Country United States
Evaluating Country Uruguay
Evaluating Country Venezuela
Evaluating Country Vietnam
Evaluating Country Zimbabwe

#### 5: Print out the entire list of the countries with their GDPs

In [40]:
#Use a for loop to print the required list
for i in range(len(countries)):
    c=countries[i]
    g=GDP[i]
    print("country: {} , GDP:{}".format(c,g))

country: Algeria , GDP:2255.225482
country: Angola , GDP:629.9553062
country: Argentina , GDP:11601.63022
country: Australia , GDP:25306.82494
country: Austria , GDP:27266.40335
country: Bahamas , GDP:19466.99052
country: Bangladesh , GDP:588.3691778
country: Belarus , GDP:2890.345675
country: Belgium , GDP:24733.62696
country: Bhutan , GDP:1445.760002
country: Brazil , GDP:4803.398244
country: Bulgaria , GDP:2618.876037
country: Cambodia , GDP:590.4521124
country: Cameroon , GDP:665.7982328
country: Chile , GDP:7122.938458
country: China , GDP:2639.54156
country: Colombia , GDP:3362.4656
country: Cyprus , GDP:15378.16704
country: Denmark , GDP:30860.12808
country: El Salvador , GDP:2579.115607
country: Estonia , GDP:6525.541272
country: Ethiopia , GDP:229.6769525
country: Fiji , GDP:2242.689259
country: Finland , GDP:27570.4852
country: France , GDP:23016.84778
country: Georgia , GDP:1334.646773
country: Ghana , GDP:402.6953275
country: Grenada , GDP:6047.200797
country: Guinea , GDP:394.1156638
country: Haiti , GDP:385.5793827
country: Honduras , GDP:1414.072488
country: Hungary , GDP:5745.981529
country: India , GDP:837.7464011
country: Indonesia , GDP:1206.991065
country: Ireland , GDP:27715.52837
country: Italy , GDP:18937.24998
country: Japan , GDP:39578.07441
country: Kenya , GDP:478.2194906
country: South Korea , GDP:16684.21278
country: Liberia , GDP:279.2204061
country: Malaysia , GDP:5345.213415
country: Mexico , GDP:6288.25324
country: Morocco , GDP:1908.304416
country: Nepal , GDP:274.8728621
country: New Zealand , GDP:14646.42094
country: Norway , GDP:40034.85063
country: Pakistan , GDP:672.1547506
country: Peru , GDP:3359.517402
country: Qatar , GDP:36152.66676
country: Russia , GDP:3054.727742
country: Singapore , GDP:33529.83052
country: South Africa , GDP:3825.093781
country: Spain , GDP:15428.32098
country: Sweden , GDP:33630.24604
country: Switzerland , GDP:39170.41371
country: Thailand , GDP:2699.123242
country: United Arab Emirates , GDP:21058.43643
country: United Kingdom , GDP:28272.40661
country: United States , GDP:37691.02733
country: Uruguay , GDP:9581.05659
country: Venezuela , GDP:5671.912202
country: Vietnam , GDP:757.4009286
country: Zimbabwe , GDP:347.7456605

#### 6: Print the following:
1. Highest GPD value
2. Lowest GDP value
3. Mean GDP value
4. Standardized GDP value
5. Sum of all the GDPs

In [41]:
#1.Highest GDP
GDP[GDP.argmax()]

40034.85063

In [42]:
#2.Lowest GDP value
GDP[GDP.argmin()]

229.6769525

In [43]:
#3.Mean GDP value
np.mean(GDP)

11289.409271639683

In [45]:
#4.Standardized GDP value
np.std(GDP)

12743.828910617945

In [46]:
#5. Sum of all the GDPs
np.sum(GDP)

711232.7841133