# Evaluate the Summer Olympics, London 2012 dataset

#### 1: View and add the dataset

In [1]:
#Import the necessary library
import numpy as np

In [29]:
#Manually add the Summer Olympics, London 2012 dataset as arrays
country=np.array(["GBR","CHN","RUS","US","KOR","JPN","GER"])
gold=np.array([29,38,24,46,13,7,11])
silver=np.array([17,28,25,28,8,14,11])
bronze=np.array([19,22,32,29,7,17,14])

#### Find the country with maximum gold medals

In [30]:
#Use the argmax() method to find the highest number of gold medals
gold[gold.argmax()]

46

In [31]:
#Print the name of the country
country[gold.argmax()]

'US'

#### Find the countries with more than 20 gold medals

In [32]:
#Use Boolean indexing technique to find the required out
x=country[gold>20]
x

array(['GBR', 'CHN', 'RUS', 'US'], dtype='<U3')

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [34]:
#Use a for loop to create the required output

for i in range(len(country)):
    c=country[i]
    g=gold[i]
    t=gold[i]+silver[i]+bronze[i]
    print("Country: {}, Gold Medals: {}, Total Medals: {}".format(c,g,t))

Country: GBR, Gold Medals: 29, Total Medals: 65
Country: CHN, Gold Medals: 38, Total Medals: 88
Country: RUS, Gold Medals: 24, Total Medals: 81
Country: US, Gold Medals: 46, Total Medals: 103
Country: KOR, Gold Medals: 13, Total Medals: 28
Country: JPN, Gold Medals: 7, Total Medals: 38
Country: GER, Gold Medals: 11, Total Medals: 36